body {
  font-family: Helvetica;
  text-align: center;
  }

div {
  background-image: url("../resources/images/the-flatiron-building.png");
  color: white;
}

.bold {
  font-weight: bold;
}

.sizeone {
  font-size: 70px;
}

.sizetwo {
  font-size: 32px;
}

.sizethree {
  font-size: 23px;
}

.sizefour {
  font-size: 14px;
}

p a {
  font-size: 18px;
  color: white;
}

 footer {
   color: white;
   background-color: dimgray;
   text-align: left;
 }

  #copy {
    font-size: 11px;
  }

 span a {
   color: white;
 }
