body {
  font-family: Helvetica;
  text-align: center;
  }

div {
  background-image: url("../resources/images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  color: white;
}

div p {
  font-size: 18px;
  color: white;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}
 div h2 {
   font-size: 23px;
   color: white;
 }

 #copy {
   font-size: 11px;
 }

 footer {
   color: white;
   background-color: dimgray;
   text-align: left;
 }

 span a {
   color: white;
 }
